<ion-view view-title="Jogadores">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nome do jogador" ng-model="inputData.jogador">
            </label>
            <button class="button button-block button-positive" ng-click="adicionarJogador(inputData.jogador)">
               Adicionar
            </button>
        </div>

        <div class="list">
            Total de Jogadores {{arrayJogador.length}}
        </div>

        <div class="list">

            <div class="item item-divider text-center">
                Jogadores
            </div>

            <a class="item item-button-right" ng-repeat="value in arrayJogador track by $index">
                <div class="row">
                    <div class="col col-90">
                        {{value.nome}}
                    </div>
                    <div class="col">
                        <button class="button button-assertive" ng-click="removerJogador(value)">
                            <i class="ion-close"></i>
                        </button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <rating ng-model="value.estrela" max="maximo" ng-click="alterarEstrelas(value)"></rating>
                </div>

            </a>

            <a class="item text-center" ng-if="arrayJogador.length == 0">
                Inclua um jogador
            </a>

        </div>

        <br>
        <br>

    </ion-content>
</ion-view>
