<ion-view view-title="Sorteados">
    <ion-content class="padding">

        <button class="button button-full button-energized" ng-click="mostrarOcultarEstrelas()">
            Ocultar/Mostrar Estrelas
        </button>

        <div class="list" ng-repeat="(key, value) in arrayJogadoresSorteados">

            <div class="item item-divider positive-bg" style="color: #FFF">
                Time {{key + 1}}
            </div>

            <div class="item" href="#" ng-repeat="jogador in value">
                <h2>
                    {{jogador.nome}}
                    <rating ng-model="jogador.estrela" readonly="readonly" ng-show="estrelas" max="maximoEstrelas"></rating>
                </h2>
            </div>

        </div>

        <br>
        <br>

    </ion-content>
</ion-view>
