<ion-view view-title="Configurações">
    <ion-content class="padding">
        <div class="col col-90">
            <label class="item item-input  item-stacked-label">
                <span class="input-label">Jogadores por time</span>
                <input type="number" min="0" placeholder="Jogadores por time" ng-model="inputData.jogadoresPorTime">
            </label>
        </div>
        <div class="col col-90">
            <span class="input-label row">Estrelas por Jogadores</span>
            <ion-list>
                <ion-radio ng-model="inputData.quantidadeEstrela" ng-value="5">5 Estrelas</ion-radio>
                <ion-radio ng-model="inputData.quantidadeEstrela" ng-value="10">10 Estrelas</ion-radio>
            </ion-list>
        </div>

        <button class="button button-block button-positive" ng-click="salvarConfiguracoes(inputData.jogadoresPorTime, inputData.quantidadeEstrela)">
            Salvar
        </button>

        <!--<br>
        <hr>

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Nome da pelada" ng-model="inputData.pelada">
            </label>
            <button class="button button-block button-positive" ng-click="adicionarPelada(inputData.pelada)">
                Adicionar
            </button>
        </div>

        <div class="list">
            <div class="item item-divider text-center">
                Pelada
            </div>

            <a class="item item-button-right" ng-repeat="value in arrayPelada track by $index">
                {{value.nome}}
                <button class="button button-assertive" ng-click="removerPelada(value)">
                    <i class="ion-close"></i>
                </button>
            </a>

            <a class="item text-center" ng-if="arrayPelada.length == 0">
                Inclua uma pelada
            </a>

        </div>-->

    </ion-content>
</ion-view>
