<ion-view view-title="Sorteio - Jogadores Presentes: {{arrayJogadorMarcado.length}}">
    <ion-content class="padding">

        <div class="item item-divider text-center">
            Jogadores
        </div>

        <ion-list>

            <ion-checkbox ng-model="value.marcado" ng-change="contagemJogadores(value)" ng-repeat="value in arrayJogador track by $index">
                {{value.nome}}
            </ion-checkbox>

        </ion-list>

        <button class="button button-block button-positive" ng-click="sortearJogadores(true);">
            Sortear
        </button>

        <button class="button button-block button-positive" ng-click="sortearJogadores(false);">
            Sortear por estrela
        </button>

        <button class="button button-block button-stable" ng-click="marcarTodos(); contagemJogadores()">
            Marcar Todos
        </button>
        <button class="button button-block button-stable" ng-click="desmarcarTodos(); contagemJogadores()">
            Desmarcar Todos
        </button>

    </ion-content>
</ion-view>