<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sorteio" icon-off="ion-arrow-swap" icon-on="ion-arrow-swap" href="#/tab/sorteio">
    <ion-nav-view name="tab-sorteio"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Jogadores" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/jogadores">
    <ion-nav-view name="tab-jogadores"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Configurações" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configuracoes">
    <ion-nav-view name="tab-configuracoes"></ion-nav-view>
  </ion-tab>


</ion-tabs>
